<% provide(:title, "About") %>
<div class="main top-main">
  <div class="top-message">
    <h2>ご当地グルメフェアとは</h2>
    <p class="about">&nbsp;&nbsp;このサイトはあらゆる地方の名産品を購入できるショッピングサイトです。</p>
    <p class="about">&nbsp;&nbsp;このご時世、外に出かける機会も少なくなり、ましてや遠出なんて...</p>
    <p class="about">&nbsp;&nbsp;そんな皆さんの気持ちに答るべく作られたのがこのサイトです！！！</p>
    <p class="about">&nbsp;&nbsp;少しでも旅行の気分を味わえるようにご当地の名産品を数多くご用意しました。</p>
    <p class="about">&nbsp;&nbsp;今はなかなか旅行に行けませんがそんなときはぜひこのサイトをご利用ください。</p>
  </div>
</div>