<% provide(:title, "Term") %>
<div class="main">
  <div class="container container-term">
    <h1 class="form-heading">利用規約</h1>
    <p>この利用規約（以下，「本規約」といいます。）は，＿＿＿＿＿（以下，「当社」といいます。）
    がこのウェブサイト上で提供するサービス（以下，「本サービス」といいます。）の利用条件を定めるものです
    。登録ユーザーの皆さま（以下，「ユーザー」といいます。）には，本規約に従って，
    本サービスをご利用いただきます。</p>
    
    <h2 class="terms">第1条（適用）</h2>
    <p class="term">&nbsp;&nbsp;本規約は，ユーザーと当社との間の本サービスの利用に関わる一切の関係に適用されるものとします。</p>    
    <p class="term">&nbsp;&nbsp;当社は本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。</p>    
    <p class="term">&nbsp;&nbsp;本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。</p>    
    
    <h2 class="terms">第2条（利用登録）</h2>
    <p class="term">&nbsp;&nbsp;本サービスにおいては，登録希望者が本規約に同意の上，当社の定める方法によって利用登録を申請し，当社がこれを承認することによって，利用登録が完了するものとします。</p>    
    <p class="term">&nbsp;&nbsp;当社は，利用登録の申請者に以下の事由があると判断した場合，利用登録の申請を承認しないことがあり，その理由については一切の開示義務を負わないものとします。</p>    
    
    <h2 class="terms">第3条（ユーザーIDおよびパスワードの管理）</h2>
    <p class="term">&nbsp;&nbsp;ユーザーは，自己の責任において，本サービスのユーザーIDおよびパスワードを適切に管理するものとします。</p>    
    <p class="term">&nbsp;&nbsp;ユーザーは，いかなる場合にも，ユーザーIDおよびパスワードを第三者に譲渡または貸与し，もしくは第三者と共用することはできません。当社は，ユーザーIDとパスワードの組み合わせが登録情報と一致してログインされた場合には，そのユーザーIDを登録しているユーザー自身による利用とみなします。</p>    
    <p class="term">&nbsp;&nbsp;ユーザーID及びパスワードが第三者によって使用されたことによって生じた損害は，当社に故意又は重大な過失がある場合を除き，当社は一切の責任を負わないものとします。</p>    
    
    <h2 class="terms">第4条（利用料金および支払方法）</h2>
    <p class="term">&nbsp;&nbsp;ユーザーは，本サービスの有料部分の対価として，当社が別途定め，本ウェブサイトに表示する利用料金を，当社が指定する方法により支払うものとします。</p>    
    <p class="term">&nbsp;&nbsp;ユーザーが利用料金の支払を遅滞した場合には，ユーザーは年14．6％の割合による遅延損害金を支払うものとします。</p>    
    
    <h2 class="terms">第5条（禁止事項）</h2>
    <p class="term">ユーザーは，本サービスの利用にあたり，以下の行為をしてはなりません。</p>    
    
    <h2 class="terms">第6条（本サービスの提供の停止等）</h2>
    <p class="term">&nbsp;&nbsp;当社は，以下のいずれかの事由があると判断した場合，ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。</p>    
    <p class="term">&nbsp;&nbsp;当社は，本サービスの提供の停止または中断により，ユーザーまたは第三者が被ったいかなる不利益または損害についても，一切の責任を負わないものとします。</p>    
    
    <h2 class="terms">第7条（利用制限および登録抹消）</h2>
    <p class="term">&nbsp;&nbsp;当社は，ユーザーが以下のいずれかに該当する場合には，事前の通知なく，ユーザーに対して，本サービスの全部もしくは一部の利用を制限し，またはユーザーとしての登録を抹消することができるものとします。</p>    
    <p class="term">&nbsp;&nbsp;当社は，本条に基づき当社が行った行為によりユーザーに生じた損害について，一切の責任を負いません。</p>    
    
    <h2 class="terms">第8条（退会）</h2>
    <p class="term">&nbsp;&nbsp;ユーザーは，当社の定める退会手続により，本サービスから退会できるものとします。</p>    
    
    <h2 class="terms">第9条（保証の否認および免責事項）</h2>
    <p class="term">&nbsp;&nbsp;当社は，本サービスに事実上または法律上の瑕疵（安全性，信頼性，正確性，完全性，有効性，特定の目的への適合性，セキュリティなどに関する欠陥，エラーやバグ，権利侵害などを含みます。）がないことを明示的にも黙示的にも保証しておりません。</p>    
    <p class="term">&nbsp;&nbsp;当社は，本サービスに起因してユーザーに生じたあらゆる損害について一切の責任を負いません。ただし，本サービスに関する当社とユーザーとの間の契約（本規約を含みます。）が消費者契約法に定める消費者契約となる場合，この免責規定は適用されません。</p>    
    <p class="term">&nbsp;&nbsp;前項ただし書に定める場合であっても，当社は，当社の過失（重過失を除きます。）による債務不履行または不法行為によりユーザーに生じた損害のうち特別な事情から生じた損害（当社またはユーザーが損害発生につき予見し，または予見し得た場合を含みます。）について一切の責任を負いません。また，当社の過失（重過失を除きます。）による債務不履行または不法行為によりユーザーに生じた損害の賠償は，ユーザーから当該損害が発生した月に受領した利用料の額を上限とします。</p>    
    <p class="term">&nbsp;&nbsp;当社は，本サービスに関して，ユーザーと他のユーザーまたは第三者との間において生じた取引，連絡または紛争等について一切責任を負いません。</p>    
    
    <h2 class="terms">第10条（サービス内容の変更等）</h2>
    <p class="term">&nbsp;&nbsp;当社は，ユーザーに通知することなく，本サービスの内容を変更しまたは本サービスの提供を中止することができるものとし，これによってユーザーに生じた損害について一切の責任を負いません。</p>
  </div>
</div>