<div class="main top-main">
  <div class="top-message">
    <h2>日本中のグルメがここに集結！</h2>
    <p>知る人ぞ知るご当地B級グルメ</p>
    <h1>いざっ！食らい尽くせ！！</h1>
  </div>
  <div class="btn-wrapper">
    <p class="btn1 signup">
      <%= link_to("新規登録はこちら", "/signup") %>
      </p>
    <p>or sign up with</p>
    <a href="#" class="btn facebook">
      <span class="fa fa-facebook"></span>
      Facebookで登録
    </a>
    <a href="#" class="btn twitter">
      <span class="fa fa-twitter"></span>
      Twitterで登録
    </a>
  </div>
</div>