.yes {
  font-size: 12px;
  width :130px;
  text-align: center;
  padding: 5px 12px;
  -webkit-appearance: none;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #2FA0DC;
  color: #fff;
  background-color: #198fcc;
  margin: 10px 0;
}

.no {
  font-size: 12px;
  width :100px;
  text-align: center;
  padding: 5px 12px;
  -webkit-appearance: none;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #2FA0DC;
  color: #fff;
  background-color: #198fcc;
  margin: 10px 0;
}