<div class="main users-new">
  <div class="container">
    <div class="form-heading">パスワード変更完了</div>
    <div class="form users-form">
      <div class="form-body">

        <h2>パスワードの変更が完了しました。</h2>
        <h2>ログイン画面から再度ログインしてください。</h2>
      </div>
    </div>
  </div>
</div>
